name: Deploy Project

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # Bun ko setup karna aur version lock karna
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.2.15 # Wahi version jo server use kar raha hai

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Build project
        run: bun run build
